name: Code Formatting

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BOT_TOKEN: "test"
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Check code formatting
        run: ./gradlew spotlessCheck
